@page "{tid}"
@model ZelisTrainingRazorWebApp.Pages.Technologies.EditModel
@using ZelisTrainingLibrary;
@{
}
<h2>Edit Technology Details</h2>
<form method="post">
    <label asp-for="Technology.TechnologyId">Technology ID: </label>
    <input asp-for="Technology.TechnologyId" class="form-control" />
    <hr />
    <label asp-for="Technology.TechName">Tech Name: </label>
    <input asp-for="Technology.TechName" class="form-control" />
    <hr>
    <label asp-for="Technology.TechLevel">TechLevel:</label>
    <input asp-for="Technology.TechLevel" class="form-control" />
    <hr />
    <label asp-for="Technology.Duration">Duration: </label>
    <input asp-for="Technology.Duration" class="form-control" />
   
    <hr />
    <input type="submit" value="Save" />
</form>
<a href="/Technologies/Index">Back to List</a>



