@page "{tid}"
@model ZelisTrainingRazorWebApp.Pages.Trainings.EditModel
@using ZelisTrainingLibrary;
@{
}
<h2>Edit Training Details</h2>
<form method="post">
    <label asp-for="Training.TrainingId">Training ID: </label>
    <input asp-for="Training.TrainingId" class="form-control" />
    <hr />
    <label asp-for="Training.TrainerId">Trainer ID: </label>
    <input asp-for="Training.TrainerId" class="form-control" />
    <hr>
    <label asp-for="Training.TechnologyId">TechnologyId:</label>
    <input asp-for="Training.TechnologyId" class="form-control" />
    <hr>
    <label asp-for="Training.StartDate">StartDate:</label>
    <input asp-for="Training.StartDate" class="form-control" />
    <hr>
    <label asp-for="Training.EndDate">EndDate:</label>
    <input asp-for="Training.EndDate" class="form-control" />


    <hr />
    <input type="submit" value="Save" />
</form>
<a href="/Trainings/Index">Back to List</a>





