@page "{tid}";
@model ZelisTrainingRazorWebApp.Pages.Trainees.DeleteModel
@using ZelisTrainingLibrary;
@{
}
<h2>Delete Trainee</h2>
<label asp-for="Trainee.TrainingId">Training Id: </label>
@Model.Trainee.TrainingId
<br />
<label asp-for="Trainee.EmpId">Emp Id </label>
@Model.Trainee.EmpId

<br />
<label asp-for="Trainee.Status">Status: </label>
@Model.Trainee.Status

<br />
<form method="post">
    <input type="submit" value="Delete" />
</form>
<a href="/Trainees/Index">Back to List</a>



